body {
    background-color: #000;
}

.sideBar {
    position: relative;
    width: 30%;
    left: -12%;
    z-index: 9999;
}

.sideBarBlack {
    background-color: #000;
    height: 100vh;
    width: 40%;
}

.sideBarWhite {
    background-color: #fff;
    width: 12%;
    height: 100vh;
}

.openSideBar {
    cursor: pointer;
}

.sideBarBlack li {
    cursor: pointer;
}

.desc {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transition: top 0.7s;
}

.itemCategory:hover .desc{
    top: 0;
}

.itemCategory {
    overflow: hidden;
}

.itemCategory {
    border-radius: 5%;
    cursor: pointer;
}

.fa-utensils {
    color: rgb(30, 130, 5);
}

.sName {
    width: 45%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.623);
    background-color: transparent;
}

.sFirstLetter {
    width: 45%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.614);
    background-color: transparent;
}

.contactInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.614);
    background-color: transparent;
}

.itemSec {
    margin-top: 30px;
    display: none;
}